<div class="control">
    <div class="plain-datagrid plain-table-addten" style="height:428px;">
        <table id="table-control">
        </table>
    </div>
    <div class="panel-bottom">
        <ul class="button-step button-step-bottom">
            <li><span class="btn" id="control_cancel"><a ></a></span></li>
           <li><span class="btn" id="control_ok"><a ></a></span></li>
        </ul>
    </div>
</div>
<style>
    .datagrid-btable tr td[field="port_range"]{
        padding-left:3px;
      }
    .datagrid-btable tr td[field="cidr"]{
        padding-left:2px;
    }
    td[field='ck'] {
        position: relative;
        left: 7px;
        top: 2px;
    }
</style>