<div class="addhostDetail">
    <div class="cpu_memo"></div>
    <div class="hostDetailcpu">
        <label id="hostDetailquota-cpu"></label>
        <span class="include" style="margin-left: 15px"><input id="cpuslider" class="easyui-slider" style="width:400px;"
                /></span>
        <span class="include"><input id="cpuinput" value="" type="text"  style="width:33px;border: none;background-color:transparent;text-align: right;font-size: 15px" disabled/><span id="cpuunit"></span></span>
        <!--<span>px</span>-->
    </div>
    <div id="hostDetailmemo" style="margin-top: 30px;margin-left:11px">
        <label id="hostDetailquota-memo"></label>
        <span class="include"><input class="easyui-slider" id="memoslider" style="width:400px"
                /></span>
        <span class="include"><input id="memoinput" value="" type="text"  style="width:33px;border: none;background-color: transparent;text-align: right;font-size: 15px" disabled/><span id="memoGB"></span></span>
    </div>
</div>
<div class="panel-bottom">
    <ul class="button-step  button-step-bottom" style="margin-right: 25px;margin-top:20px;">
        <li id="cancel"><span class="btn"><a id="addhostquato_cancel"></a></span></li>
        <li id="ok"><span class="btn"><a id="addhostquato_ok"></a></span></li>
    </ul>
</div>

<link href="theme/default/css/addhostDetail.css" rel="stylesheet" type="text/css">


