<div class="user">
    <div class="plain-table-addten plain-datagrid" style="padding-bottom:0;">
       <table id="table-json">
       </table>
    </div>
    <div class="panel-bottom">
        <ul class="button-step button-step-bottom">
            <li><span class="btn" id="hl_cancel"><a ></a></span></li>
            <li><span class="btn" id="hl_ok"><a ></a></span></li>
        </ul>
    </div>
</div>
<style>
    td[field="ck1"]{
        position: relative;
        left:7px;
        top: 2px;
    }
</style>



