<div class="host">
    <div class="plain-table-addten plain-datagrid" style="padding-bottom:0;">
        <table id="table-host">
        </table>
    </div>
    <div class="panel-bottom">
        <ul class="button-step button-step-bottom ">
            <li><span class="btn" id="hs_cancel"><a ></a></span></li>
            <li><span class="btn" id="hs_ok"><a ></a></span></li>
        </ul>
    </div>

</div>
<style>
    td[field='ck1'] {
        position: relative;
        left: 7px;
    }
    .datagrid-btable  .datagrid-cell span{
        padding-left: 0px;
    }
</style>



