<!--<link href="theme/default/css/hostDetail.css" rel="stylesheet" type="text/css">-->
<!--<div class="icon-menus-box">-->
    <!--<div class="icon-menus-bg"></div>-->
    <!--<div class="backupdetail-icon-box icon-menus-cont"></div>-->
<!--</div>-->
<div class="block-lists block-lists-padding">
    <div class="right-cont">
        <div id="backup-log-list" class="block-list resize-margin">
            <div class="block-list-content" style="min-height: 230px;padding-bottom:10px">
                <div class="detail-page-nav">
                    <div class="block-list-label" id="backup">
                    </div>
                </div>

                <div class="backupBox"></div>
            </div>
        </div>

        <div class="block-list operation resize-margin">
            <div class="block-list-left" >
                <div class="block-list-content box_shadow">
                    <div class="detail-page-nav">
                        <div class="block-list-label" id="operation">
                        </div>
                    </div>

                    <div class="plain-datagrid plain-backup">
                        <table id="backup_log"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="theme/default/css/backup.css" rel="stylesheet" type="text/css">

