
<div id="backuptabs" style="width:100%;" >
    <div id="hostbp" title="云主机" style="overflow-x: hidden;">
        <div class="right-content-padding">
            <div class="right-cont ">
                <div class="search-item padding_15">
                <span class="input-text">
                    <span class="combox-to-input ef-textbox">

                        <select  id="backup_host" style="width:197px;height:30px"></select>
                    </span></span>
                    <span class="icon-refresh-span"><i class="icon-refresh" id="reset_host" style="cursor:pointer;"></i></span>
                </div>
                <div style="padding-bottom:5px;">
                    <div  class="plain-datagrid box_shadow" style="display: block;">
                        <table id="hostbackup" style="width:100%;height: 100%;"> </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="diskbp" title="云硬盘"  style="overflow-x: hidden;">
        <div class="right-content-padding">
            <div class="right-cont ">
                <div class="search-item padding_15">
                <span class="input-text">
                    <span class="combox-to-input ef-textbox">
                        <select  id="backup_disk" style="width:197px;padding-left:10px;height:30px">

                        </select>
                    </span></span>
                    <span class="icon-refresh-span"><i class="icon-refresh" id="reset_disk" style="cursor:pointer;"></i></span>
                </div>
                <div style="padding-bottom:5px;">
                    <div class="plain-datagrid box_shadow">
                        <table id="diskbackup" style="width:100%;height: 100%;"> </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--策略暂时不做-->
    <!--<div id="strategybp" title="策略"style="overflow:auto;margin-top: 20px">-->
    <!--<div style="padding:5px" class="plain-datagrid">-->
    <!--<table id="strategy" style="width:100%;height: 448px;"> </table>-->
    <!--</div>-->
    <!--</div>-->

</div>
<link href="theme/default/css/backup.css" rel="stylesheet" type="text/css">

