 <div class="block-lists" style="width: 80%;margin:0 auto">
    <ul class="bound-area-ul">
        <li class="border-bottom">
            <label id="quotacpu">CPU(核)<i>*</i>：</label>
            <div class="cpuRange config_squ"></div>
        </li>
        <li>
            <label>内存(GB)<i>*</i>：</label>
            <div class="memoRange config_squ"></div>
        </li>
        <li class="border-bottom none-border clearfix">
            <label class="slider-item">系统盘容量<i>*</i>：</label>
             <span class="slider-item ml-20">
                 <div id="configSlider" style="width:300px;height: auto;"></div>
            </span>
            <span class="slider-item ml-20">
                <input id="sliderInput" type="text" style="width: 60px; height: 30px;">
            </span>
            <span class="slider-item ml-5">GB</span>
        </li>
       <!-- <li class="border-bottom">
            <label>存储类型<i>*</i>：</label>
            <div class="saveRange config_squ_save"></div>
        </li>
        <li>
            <div class="slider">
                <label id="switchAval">高可用性:</label>
                <span id="swtich">&lt;!&ndash;<input id="addhostswitch" style="height: 20px;width: 48px"/>&ndash;&gt;
                    <span id="addhostswitch" style="height: 20px;width: 48px"></span>
                </span>
            </div>
        </li>-->
    </ul>
</div>
<!--
 <div class="water-mark">
     <i class="water-mark-img"></i>
 </div>-->
