<div class="hostDetaildelete" style="height: 300px">
    <i style="background-position: -463px -257px;height: 30px;width: 40px"></i>
    <div class="deletealert"></div>
    <div class="delete_box">
        <div class="deletechoose"></div>
        <div class="backupdelete-disk"></div>
    </div>

    <div class="deletechooseall" style="margin-top: 15px"></div>
    <hr>
    <div class="checkedAll">
        <input type="checkbox" name="test" disabled class="checkbox_all backupcheck" style="margin:0 0 3px 0;border:1px solid lightgray"/>
        <span class="delete_checkAll"></span>
    </div>
    <div class="deletecho"></div>
</div>
<div class="panel-bottom">
    <ul class="button-step button-step-bottom" >
        <li id="cancel"><span class="btn" ><a id="hostDetail_delete_cancel"></a></span></li>
        <li id="ok"><span class="btn" ><a id="hostDetail_delete_ok"></a></span></li>
    </ul>
</div>

<link href="theme/default/css/addhostDetail.css" rel="stylesheet" type="text/css">