<table class="pre-table" >
    <tr>
        <td>
            <table class="plain-table" style="width:190px">
                <tr>
                    <td ><label id="lname"></label></td>
                    <td id="overname"></td>
                </tr>
                <tr>
                    <td ><label id="luser"></label></td>
                    <td id="overuser"></td>
                </tr>
                <tr>
                    <td><label id="lclosewarn"></label></td>
                    <td>
                        <span id="overswitch">
                            <!--<input id="overaddhostswitch" style="height: 20px;width: 48px"/>-->
                            <span id="overaddhostswitch" style="height: 20px;width: 48px"></span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td ><label id="lconfig"></label></td>
                    <td id="overconfig"></td>
                </tr>



            </table>
        </td>
        <td >
            <table class="plain-table" style="width:190px">
                <tr>
                    <td ><label id="lamount"></label></td>
                    <td id="overamount"></td>
                </tr>
                <tr>
                    <td ><label id="los"></label></td>
                    <td id="overos"></td>
                </tr>
                <tr>
                    <td ><label id="lsave"></label></td>
                    <td id="oversave"></td>
                </tr>
                <tr>
                    <td ><label id="lsys_volume"></label></td>
                    <td id="sys_volume"></td>
                </tr>
            </table>
        </td>
        <td>
            <table class="plain-table">
                <tr>
                    <td ><label id="1project"></label></td>
                    <td id="overproject"></td>
                </tr>
                <tr>
                    <td ><label id="limage" ></label></td>
                    <td id="overimage"></td>
                </tr>
                <tr>
                    <td ><label id="lhost"></label></td>
                    <td id="overhost" style="width:180px;"></td>
                </tr>
                <tr>
                    <td ><label id="lnetamount" style="display:inline-block"></label></td>
                    <td id="netamount" style="width:180px;"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div style="border-bottom:1px solid #ccc;margin-left:168px;width:700px"></div>
<div class="pre-table" style="margin-top:10px;margin-left:165px">
    <!--<tr>
        <td id="net" style="width:31.5%;"></td>
        <td id="lvlan" style="width:30.5%;"></td>
        <td id="lip" style="width:32%;padding-left:12px;"></td>
    </tr>-->
    <ul class="vlans-title-wrapper" style="list-style: none;padding-left:5px;">
        <li>
            <span class="net">物理网络</span>
            <span class="vlan">网络</span>
            <span class="childnet">子网</span>
            <span class="ip">IP</span>
        </li>
    </ul>
</div>
<div class="pre-table" style="margin-top: 0px">
    <!--<table id="vlans">-->
    <!--</table>-->

    <ul class="vlanshow" id="vlanshows">
        <!--<li><span class="net vlancontent">ph-edf</span><span class="vlan vlancontent">Vlan123</span><span class="childnet vlancontent">333333333</span><span class="ip vlancontent">127.156.12.1</span></li>
        <li><span class="net vlancontent">ph-edf</span><span class="vlan vlancontent">Vlan123</span><span class="childnet vlancontent">333333333</span><span class="ip vlancontent">127.156.12.1</span></li>
        <li><span class="net vlancontent">ph-edf</span><span class="vlan vlancontent">Vlan123</span><span class="childnet vlancontent">333333333</span><span class="ip vlancontent">127.156.12.1</span></li>
        <li><span class="net vlancontent">ph-edf</span><span class="vlan vlancontent">Vlan123</span><span class="childnet vlancontent">333333333</span><span class="ip vlancontent">127.156.12.1</span></li>
        <li><span class="net vlancontent">ph-edf</span><span class="vlan vlancontent">Vlan123</span><span class="childnet vlancontent">333333333</span><span class="ip vlancontent">127.156.12.1</span></li>
        <li><span class="net vlancontent">ph-edf</span><span class="vlan vlancontent">Vlan123</span><span class="childnet vlancontent">333333333</span><span class="ip vlancontent">127.156.12.1</span></li>
        <li><span class="net vlancontent">ph-edf</span><span class="vlan vlancontent">Vlan123</span><span class="childnet vlancontent">333333333</span><span class="ip vlancontent">127.156.12.1</span></li>-->
    </ul>
</div>
<div class="water-mark">
    <i class="water-mark-img"></i>
</div>
<!--
<link rel="stylesheet" href="theme/default/css/addHost.css" type="text/css"/>-->