<div class="create_flow_dialog">
    <ul class="item-list-ul-first">
        <li>
            <label><span i18n="apply.template.detail.flow.create.name"></span>：</label>
            <input id="flowName"><i>*</i>
        </li>

        <li>
            <label i18n="apply.template.detail.flow.create.range"></label>
            <input id="flowRange">
        </li>
        <li >
            <label i18n="apply.template.detail.flow.create.icon"></label>
            <div class="manorMangeIconBox" ></div>
        </li>
        <li class="des_sep">
            <label i18n="apply.template.detail.flow.create.des" style="position:relative;top:-5px;"></label>
            <input id="flowDes" style="position: relative;top:-10px">
        </li>

    </ul>
    <div class="panel-bottom">
        <ul class="button-route button-step button-step-bottom">
            <li>
                <span class="btn" id="btnCancel"><a i18n="global.button.cancel.label"></a></span>
            </li>
            <li>
                <span class="btn" id="btnConfirm"><a i18n="global.button.confirm.label"></a></span>
            </li>
        </ul>
    </div>

</div>