<div class="row">
    <div class="width_p_100 v_top">
        <div class="step_wrapper"></div>
        <ul class="viewstack-box">
            <li>1</li>
            <li>2</li>
            <!--<li>3</li>-->
            <!--<li>4</li>-->
        </ul>
    </div>
    <!--<div class="v_middle">
        <i class="drawer_btn"></i>
    </div>-->
    <div class="v_top">
        <div id="resultBox"></div>
    </div>
</div>
<div class="btn-router-bottom button-route-box"  id="route">
</div>
<!--<link rel="stylesheet" href="theme/default/css/addHost.css" type="text/css"/>-->
<link href="theme/default/css/createnet.css" rel="stylesheet" type="text/css">