<div style="padding:5px" class="plain-datagrid">
    <table  id="diskuplist_grid"
            style="width:100%;min-height:420px"
            data-options="
				singleSelect:true,
				pagination:true,
				showPageList:false,
				pageSize:10"
            >
        <thead>
        <tr>
            <th field="id" width="33%">ID</th>
            <th field="name"  width="33%" >名称</th>
            <th field="ip" width="36%" >IP</th>
        </tr>
        </thead>
    </table>
</div>
<script type="text/javascript" src="js/diskuplist.js"></script>