<div class="editdisk">
    <div>
        <label><i id="editdiskname" ></i>：</label>
        <input id="diskeditname" type="text" style="width:220px;height: 30px;"/><i class="cal-adddisk-i">*</i>
    </div>
    <div style="margin-top:20px">
        <label id="editdiskbackup" ></label>
     <textarea maxlength="50" id="diskeditbackup" class="disk_edit_area"></textarea>
    </div>
    <!--<div class="water-mark">-->
        <!--<i class="water-mark-img"></i>-->
    <!--</div>-->
</div>
   <div class="panel-bottom">
       <ul class="button-step button-step-bottom" >
           <li><span class="btn" id="disk_cancel" ><a id="editdisk_cancel"></a></span></li>
           <li id="edit_ok"><span class="btn" id="disk_ok"><a id="editdisk_ok" ></a></span></li>
       </ul>
   </div>

<link href="theme/default/css/disk.css" rel="stylesheet" type="text/css">

