<!--<div class="icon-menus-box">-->
<!--<div class="icon-menus-bg"></div>-->
<!--<div class="disk-icon-box icon-menus-cont"></div>-->
<!--</div>-->
<div class="right-content-padding" >
    <div class="right-cont" id="disk">
        <div class="search-item padding_15">
                <span class="input-text">
                    <span class="combox-to-input ef-textbox">
                        <input id="username" style="width:197px;height:30px">
                    </span></span>
                    <span class="ef-combox">
                         <select id="project" name="user"
                                 style="width:197px;height:30px;padding-left:10px">
                         </select>
                    </span>
                    <span class="ef-combox">
                         <select id="status" name="state"
                                 style="width:197px;height:30px;padding-left:10px" >

                         </select>
                    </span>
            <span class="icon-refresh-span"><i class="icon-refresh" id="reset"></i></span>
        </div>
        <div style="display: block;" class="plain-datagrid box_shadow tablebox">
            <table id="gridtable" style="width:100%;height:100%"></table>
        </div>
    </div>
</div>


<link rel="stylesheet" href="theme/default/css/global.css" type="text/css">
<link rel="stylesheet" href="theme/default/css/host.css" type="text/css">
<link rel="stylesheet" href="theme/default/css/disk.css" type="text/css">
<style>
    .easyui-menubutton .l-btn-left
    {
        display: inline-block;
        width: 56px;
        height: 23px;
        border: 1px solid rgb(77, 164, 214);
        margin:0 !important;
    }
    .location-vm
    {
        color: #525252;
    }
</style>

