<div class="diskbackup">
    <div>
        <label><i id="diskbackup-name"></i>：</label>
        <div class="editname">
            <input id="name" type="text" class="easyui-textbox" style="width:220px;height:30px;"/><i>*</i>
        </div>
    </div>
    <div class="discreption">
        <label id="diskeditbackup-des"></label>
        <textarea class="disk_backup_area" maxlength="50"></textarea>
    </div>
 <!--  <div class="discreption">
    <input type="radio" class="backup_choose" name="backup_choose" checked><span id="backupadd"></span>
    </div>-->
    <!--<div class="water-mark">-->
        <!--<i class="water-mark-img"></i>-->
    <!--</div>-->
</div>
<div class="panel-bottom">
    <ul class="button-step button-step-bottom">
        <li ><span class="btn" ><a id="disk_backup_cancel"></a></span></li>
        <li id="backup_ok"><span class="btn" ><a id="disk_backup_ok"></a></span></li>
    </ul>
</div>

 <link href="theme/default/css/disk.css" rel="stylesheet" type="text/css">