<div class="block-lists">
    <div class="block-list">
        <div class="block-list-left left" style="width: 50%">
            <div class="block-list-content">
                <div class="block-list-label">
                       描述
                </div>
                <div class="right righticons" title="编辑">
                    <img src="theme/default/images/edit.png"/>
                </div>
                <table class="plain-table">
                <tr>
                    <td>名称：</td>
                    <td>DK-门户</td>
                </tr>
                <tr>
                    <td>用户：</td>
                    <td>高山</td>
                </tr>
                <tr>
                    <td>租户：</td>
                    <td>OPS</td>
                </tr>
               </table>
            </div>
        </div>
        <div class="block-list-right left" style="width:50%">
            <div class="block-list-content">
                <div class="block-list-label" >
                    配置
                </div>

                <div class="clear" style="padding-left:30px;height:120px">
                    <p class="input-text" style="padding-left:5px ">
                        <span style="margin-left:16px;">类型:</span><span style="display:inline-block; padding-left:10px;">
                       SSD
                    </span>
                    </p>
                    <p>
                        <span>容量(G):</span>
                                     <span style="display: inline-block; padding-left: 8px;">30G</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
