<div class="block-list">
    <div  style="width:653px;height:500px;margin-top:20px;margin-left:34px; margin-right: 35px;">
        <div class="cidr_ip" style="display: none;"></div>
        <div style="height:877px;overflow-y: auto">
            <div class="ip_legend" ></div>
            <div class="ip_sect" style="font-size: 14px;margin-top: 10px;">
                <span>IP段：</span>
                <span class="pos1"></span>
                <span>.</span>
                <span class="pos2"></span>
                <span>.</span>
                                <span id="pos3" style="display: none;">
                                    <input id="pos3Sel" style="width: 60px;height: 30px;text-align: center"/>
                                </span>
                <span id="pos3Text"></span>
                <span>.</span>
                <span id="pos4">X</span>
                <span class="ipSelectAll-content"><input type="checkbox" id="ipSelectAll"></span>
                <span class="iptotal">全选当前页</span>
                <span class="ip-selectAll-range"></span>
                <div class="ip-selected-text" style="display: none;float:right; margin-right: 38px;margin-top: 5px;">
                    <span class="ip-selected" style="color: #79a7fd;margin-right: 5px;"></span><span>已选</span>
                    <span class="ip-splice">|</span>
                    <span class="ip-wait-selected" style="color:#6ca2b2;margin-right: 5px;">0</span><span>预选</span>
                </div>
            </div>
            <div class="ip-list-block-none"></div>
            <div class="bar_ip_box" style="font-size: 15px;">
            </div>
        </div>
        </div>
    </div>
        <link rel="stylesheet" href="theme/default/css/tenant.css" type="text/css">
        <link rel="stylesheet" href="theme/default/css/global.css" type="text/css">
        <style>
            .window .window-header .panel-tool{
                margin-top:-9px;
            }
            .icon-menus{
                padding-right: 0;
                right:0;
            }
        </style>