<div class="right-content-padding">
    <div class="right-cont">
        <div class="search-item padding_15">
            <div class="search-item datebox-wrap">
                  <span class="ef-combox">
                         <input id="begin-date"  class="rst" name="birthday"
                                style="width:197px;height: 30px;padding-left: 10px" >
                         <span>-</span>
                          <input id="end-date" class="rst" name="birthday"
                                 style="width:197px;height: 30px;padding-left: 10px" >
                  </span>
            </div>
            <div class="search-item">
                  <span>
                      <span id="log" class="ef-combox">
                                    <input id="log_obj" style="width:197px;padding-left:10px;height:30px" />
                      </span>
                      <span id="log_all_user" class="ef-combox">
                          <input id="log_all_user_sel" class="rst" style="width:197px;padding-left:10px;height:30px" />
                      </span>
                      <span id="log_kind" class="ef-combox">
                           <input id="log_kind_sel"  class="rst" style="width:197px;padding-left:10px;height:30px" />
                      </span>
                      <span id="log_order" class="ef-combox">
                           <input id="log_kind_order" class="rst" style="width:197px;padding-left:10px;height:30px" />
                      </span>
                      <span class="icon-refresh-span"><i class="icon-refresh" id="reset"></i></span>
                       </span>
            </div>
        </div>
        <div class="plain-datagrid  box-shadow">
            <table id="loglist" style="width:100%;height: 100%"></table>
        </div>
    </div>
</div>
<link rel="stylesheet" href="theme/default/css/global.css" type="text/css">
<link rel="stylesheet" href="theme/default/css/log.css" type="text/css">
