<!--<div class="icon-menus-box">-->
    <!--<div class="icon-menus-bg"></div>-->
    <!--<div class="man-detail-icon-box" style="margin-left:10px;margin-top:3px;"></div>-->
<!--</div>-->
<div class="block-lists-padding">
    <div class="right-cont ">
        <div class="block-list-content box_shadow">
            <div class="detail-page-nav">
                <div class="block-list-label" i18n="apply.template.detail.detail.label"></div>
            </div>
            <div class="manor_detail_table detail-block">
                <table width="100%">
                    <tr>
                        <td style="width: 32%">
                            <div class="detail-row">
                                <label>ID：</label>
                                <span><input type="text" id="tempId"></span>
                            </div>
                        </td>
                        <td styl="display:none"></td>
                        <td>
                            <div class="detail-row">
                                <label i18n="apply.template.detail.detail.template.name"></label>
                                <span><input type="text" id="tempName"></span>
                            </div>
                        </td>
                        <td>
                            <div class="detail-row">
                                <label i18n="apply.template.detail.detail.template.des" style="position: relative;
top: -4px;"></label>
                                <span ><input type="text" id="tempDes" ></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="block-list-content box_shadow" style="padding-bottom:20px;height:753px">
            <div class="detail-page-nav">
                <div class="block-list-label" i18n="apply.template.detail.flow.label"></div>
            </div>

            <div class="create_flows_right"></div>

               <div class="manor_template_flows">
                <!--<div i18n="title=apply.template.detail.flows.install.title" selected="true">-->
                <!--<ul class="item-list-ul-first">-->
                <!--<li>-->
                <!--<label>流程名称：</label>-->
                <!--<input id="flowName" class="textbox-f" style="display: none;"><span class="textbox textbox-readonly" style="width: 197px; height: 30px;"><input type="text" class="textbox-text validatebox-text" autocomplete="off" readonly="readonly" placeholder="" style="margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; width: 197px;"><input type="hidden" class="textbox-value" value="流程1"></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<label>应用范围：</label>-->
                <!--<input id="flowRange" class="textbox-f" style="display: none;"><span class="textbox textbox-readonly" style="width: 197px; height: 30px;"><input type="text" class="textbox-text validatebox-text" autocomplete="off" readonly="readonly" placeholder="" style="margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; width: 197px;"><input type="hidden" class="textbox-value" value="01"></span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<label>描述：</label>-->
                <!--<input id="flowDes" class="textbox-f" style="display: none;"><span class="textbox textbox-readonly" style="width: 197px; height: 30px;"><input type="text" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" readonly="readonly" placeholder="" style="margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; width: 197px;"><input type="hidden" class="textbox-value" value=""></span>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
            </div>

        </div>
    </div>
</div>
<link rel="stylesheet" href="theme/default/css/manortemplatedetail.css" type="text/css">
<style>
    .manor_template_flows .panel-body
    {
        overflow: hidden;
        width: 100% !important;
    }
</style>