<!--<div class="icon-menus-box">-->
    <!--<div class="icon-menus-bg"></div>-->
    <!--<div class="man-icon-box icon-menus-cont"></div>-->
<!--</div>-->
<div class="right-content-padding">
    <div class="right-cont">
        <div class="search-item padding_15" >
            <span class="input-text">
                <span class="combox-to-input ef-textbox" >
                        <input id="manor-template-search" style="width:197px;;height:30px">
                       </span><span>
                    </span>
            </span>

            <span class="icon-refresh-span"><i class="icon-refresh" id="reset"></i></span>
        </div>
        <div  class="plain-datagrid box_shadow">
            <table id="manor-templateGrid"
                   style="width:100%;height: 100%;" data-options="
				singleSelect:true,
				pagination:true,
				pageNumber:1,
				pageSize:10">
            </table>
        </div>
    </div>
</div>

<link href="theme/default/css/manorTemplate.css" rel="stylesheet" type="text/css">
<link href="js/libs/codemirror/codemirror.css" rel="stylesheet" type="text/css">
<style>
    .tem_icon
    {
        position: relative;
        top: 3px;
        width: 25px;
        height: 25px;
    }
</style>