<div class="reboot_box reboot_param_set">
    <div  style="margin-top: 5px;padding-left:20px;line-height: 100px;height: 100px;float:left;width: 100%">
        <label style="display: inline-block;
min-width: 70px;text-align: right;"><span i18n="apply.template.script.apply.name2" ></span>：</label>
            <span>
                <input class="param_group" id="paramGroupNameRebooter" type="text">
            </span><i>*</i>
    </div>
    <div class="other_hide hide" style="padding-left:20px;">
        <label style="display: inline-block;
min-width:70px;text-align: right;"><span i18n="apply.template.flow.param.two.group.name"></span>：</label>
            <span>
                <input class="param_group" id="paramGroupNameInput" type="text">
            </span><i>*</i>
    </div>
</div>