
<div class="tab-box" style="width: 100%;margin-top:0;overflow-y:auto ">
    <div i18n="title=apply.template.create.param.title" title class="tab-box-ct">
        <ul class="manor-add">
            <p class="clearfix team_name_box">
                <span class="groupCom left" style="height: 35px;line-height: 30px">组名称：</span>
                <span  class="groupVal cell"><input id="teamName"/>
                <i style="left:0px;">*</i></span>
            </p>
            <p class="clearfix amount_name_box">
                <span class="groupCom left" style="height: 35px;line-height: 30px">数量：</span>
                <span   class="groupVal cell"><input id="amount"/><i>*</i></span>
            </p>
            <p class="clearfix minnode_name_box">
                <span class="groupCom left" style="height: 35px;line-height: 30px">最小节点数：</span>
                <span  class="groupVal cell"><input id="minNode"/><i>*</i></span>
            </p>
            <p class="clearfix maxnode_name_box">
                <span class="groupCom left" style="height: 35px;line-height: 30px">最大节点数：</span>
                <span  class="groupVal cell"><input id="maxNode"/><i>*</i></span>
            </p>
        </ul>
        <ul class="manor-add">
            <li class="manor-add-wrapper cpu_name_box">
                <h3 style="font-weight: normal">CPU(核)：</h3>
                <div class="cpuRange clearfix"></div>
            </li>
            <li class="manor-add-wrapper no-border memo_name_box">
                <h3 style="font-weight: normal">内存(GB)：</h3>
                <div class="memRange clearfix"></div>
            </li>
        </ul>
        <ul style="margin-left:25px;">
            <p><span class="groupCom sys_name_box">系统盘容量：</span>
                <input class="sys-capacity"  type="text" style="width:197px;height: 25px;" /><i>*</i>
            </p>
            <p><span class="groupCom image_name_box">镜像：</span>
                <select  class="sys-mirror"  style="width:197px;height: 25px;"  >
                    <option></option>
                </select><i>*</i>
            </p>
        </ul>
    </div>
</div>
