<div class="manor_flow_box">
    <div class="manor_flow_cont">
        <div class="manor_flow_set_step">
            <ul>
                <li>
                    <label><span i18n="apply.template.create.step.title"></span>：</label>
                    <span><input name="stepType"></span><i>*</i>
                </li>
                <li>
                    <label><span i18n="apply.template.create.step.name"></span>：</label>
                    <span><input name="stepName"></span><i>*</i>
                </li>
            </ul>
        </div>
        <div class="right manor_flow_step_right_btn" style="margin-top: 15px;"></div>
    </div>
</div>