<!--action bar-->
<!--<div class="icon-menus-box">-->
    <!--<div class="icon-menus-bg"></div>-->
    <!--<div class="manor-instance-icon-box icon-menus-cont"></div>-->
<!--</div>&lt;!&ndash;action bar&ndash;&gt;-->
<div class=" block-lists-padding">
     <div class="right-cont">

    <div class="block-list-content box_shadow" style="height: 141px;padding-bottom:20px">
        <div class="detail-page-nav">
            <div class="block-list-label" id="description">
                详情
            </div>
        </div>

        <div class="icons-insdetail righticons" style="float: right;"></div>
        <div class="host-detail-descript">
            <div class="float-table userdescription" style="height: 68px;">
                <table class="plain-table" style="height: 68px">
                    <tr>
                        <td><label>名称：</label></td>
                        <td><span id="nameField" class="text-color">simple_test</span></td>
                    </tr>
                    <tr>
                        <td><label>模板名称：</label></td>
                        <td class="data_name">
                            <span id="tempField" class="text-color">hadoop001</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="float-table userdescription" style="height:68px;">
                <table class="plain-table"  style="height: 68px">
                    <tr>
                        <td><label>状态：</label></td>
                        <td class="data_email" style="height:33px;"><span class="text-color" id="statusField"></span></td>
                    </tr>
                    <tr>
                        <td><label>所在项目：</label></td>
                        <td class="data_project" style="width:auto;height:33px;overflow:auto;float: left;">
                            <div style="word-break: break-all;" id="projectField">
                                <!--<span class="text-color id="project"></span>-->
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="float-table no-right-border userdescription">
                <table class="plain-table">
                    <tr style="height: 20px;">
                        <td><label>网络：</label></td>
                        <td class="data_project" style="width:auto;height:33px;overflow:auto;float: left;">
                            <div style="word-break: break-all;" id="vlanField">

                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                                    <td><label id="secretsfield"></label></td>
                                    <td><span class="select-oth">
                                     <span class="secInclude"><input id="secrets"/></span>
                                 </span></td>
                                </tr>-->
                    <tr style="height: 20px;">
                        <td><label>描述：</label></td>
                        <td class="data_descript">
                            <!--<div style="word-break: break-all;" id="descripField">-->
                                <span>  <input id="descript" type="text" class="input-oth" style="height: 30px;width: 200px"/></span>
                            <!--</div>-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="group clearfix" style="margin-top:-10px ">
        <div id="temp" class="group-wrapper" style="display: none;">
            <div class="group-title auto">
                <div class="group-title-inner" style="height: 53px;">
                    <table width="100%" border="0">
                        <tr>
                            <td style="width: 40%">
                                <div class="group_title_box">
                                    <span class="group_title_group_name data_gname"></span>
                                    <span class="group-total" style="float:left;font-size:16px">(</span><span class="group-total data_gmount"  style="height:45px;float:left"></span><span class="group-total" style="float:left;font-size:16px">)</span>
                                </div>
                            </td>
                            <td >
                                <div class="group-right group_title_group_right">

                                </div>
                                <div class="add_group_node" style="display: none;width:100%;">
                                    <span  style="display: inline-block;text-align: right;width:100%;">
                                        <span class="add_group_mar" style="display: inline-block;text-align: right;white-space: nowrap;width: 100%;position: relative;right:80px;top: -8px;">
                                            <span style="display: inline-block"><input class="addInput"/></span>
                                            <span class="addInputBtns" style="display: inline-block;height: 28px;width:auto"></span>
                                        </span>
                                    </span>

                                </div>
                            </td>
                        </tr>
                    </table>

                    <!--<span style="width:78%;position:relative;display:inline-block;height:45px;line-height: 45px;text-align: right;">-->
                        <!--<span  style="text-align:right;display: inline-block;width: 100%;overflow: hidden;height: 45px"></span>-->
                    <!--</span>-->

                </div>
                <div class="add-node-content">
                    <a class="add-node">
                       <!-- <i class="add-icon"></i>-->
                    </a>
                     <span class="ef-combox manor-add-input" style="display: none;">
                        <input class="js-manor-add" type="text" />
                    </span>
                </div>
            </div>
            <div  class="group-box auto">
            </div>
        </div>
    </div>
</div>
</div>
<link rel="stylesheet" href="theme/default/css/manorInstance.detail.css" type="text/css"/>
<link rel="stylesheet" href="theme/default/css/manor.instance.list.css" type="text/css"/>
<link rel="stylesheet" href="theme/default/css/manorTemplate.css" type="text/css"/>