<div class="right-cont" >
    <div class="block-list">
        <table class="table">
            <tr>
                <td>Agent:<span class="colum">3333</span></td>
                <td>网络名称:<span class="colum">4444</span></td>

            </tr>
            <tr>
                <td>IP地址:<span class="colum">555</span></td>
                <td>状态: <span class="colum">666</span></td>
            </tr>
            <tr>
                <td colspan="2">ID:<span class="spanContent">4444</span></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">项目:<span class="spanContent">666666</span></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="submit-area submit-bottom" >
    <ul class="button-step">
        <li><span class="btn"><a>关闭</a></span></li>
    </ul>
</div>
<link rel="stylesheet" href="theme/default/css/manorNodeDetail.css"/>