<div class="manor_flow_panel">
    <ul class="item-list-ul-first manor_instance_des_pic">
        <li>
            <label ><span i18n="apply.template.detail.flow.create.name"></span><i style="left: 0;">*</i>：</label>
            <input id="flowName">
        </li>
        <li>
            <label i18n="apply.template.detail.flow.create.range"></label>
            <input id="flowRange">
        </li>
        <li>
            <label i18n="apply.template.detail.flow.create.icon"></label>
            <div class="manorMangeIconPicker" style="position: relative;top:0px"></div>
        </li>
        <li>
            <label i18n="apply.template.detail.flow.create.des"></label>
            <input id="flowDes">
        </li>

    </ul>
    <div class="manor_flow_innter_create" style="height: 520px">

    </div>
</div>
<style>
    .manor_flow_panel .manor_instance_des_pic li label
    {
        top:3px;
    }
    .item-list-ul-first li{
        width: 500px;
    }
</style>