<div class="flow_param">
    <div class="flow_param_left left">
        <ul class="flow_param_item_ul">
            <li>
                <label><span i18n="apply.template.create.flow.param.name"></span>：</label>
                <span><input class="flow_parm_name"></span><i>*</i>
            </li>
            <li>
                <label><span i18n="apply.template.create.flow.param.type"></span>：</label>
                <span><input class="flow_parm_type"></span><i>*</i>
            </li>
            <li class="flow_param_item_ul_value" style="display: none;">
                <label class="manorTemplate-param-label"><span i18n="apply.template.create.flow.param.value"></span>：</label>
                <span><input class="flow_parm_value"></span><i>*</i>
            </li>
            <li>
                <label i18n="apply.template.create.flow.param.description" class="manorTemplate-param-label"></label>
                <span><input class="flow_parm_description" style="overflow: auto;"></span>
            </li>
            <li>
                <span style="margin-left: 12%;" class="icon-manorTemplate-param-parent">
                    <i class="icon-template-save icon-manorTemplate-param"></i>
                    <span i18n="apply.template.create.save" class="icon-manorTemplate-param-text"></span>
                </span>
                <span style="margin-left: 8%;"  class="icon-manorTemplate-param-parent">
                    <i class="icon-template-add icon-manorTemplate-param"></i>
                    <span i18n="apply.template.create.add" class="icon-manorTemplate-param-text"></span>
                </span>
                <span style="margin-left: 8%;"  class="icon-manorTemplate-param-parent">
                    <i class="icon-recycle-delete icon-manorTemplate-param"></i>
                    <span i18n="apply.template.create.delete" class="icon-manorTemplate-param-text"></span>
                </span>
            </li>
        </ul>
    </div>
    <div class="flow_param_right right">
        <h4 class="flow_param_title" i18n="apply.template.flow.param.title"></h4>
        <div class="flow_param_box"></div>
    </div>
</div>