<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="js/libs/easyui/themes/easted/easyui.css">
    <link rel="stylesheet" type="text/css" href="js/libs/easyui/themes/icon.css">
    <link href="theme/default/css/global.css" rel="stylesheet"  type="text/css">
    <script type="text/javascript" src="js/libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="js/libs/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/framework.js"></script>
    <link href="theme/default/css/components.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/global.js"></script>
    <link rel="stylesheet" type="text/css" href="theme/default/css/index.css">
    <script type="text/javascript" src="js/host.js"></script>
    <link rel="stylesheet" type="text/css" href="theme/default/css/host.css">
    <script type="text/javascript" src="js/menu.js"></script>
</head>
<body>
<div class="wrap">
    <div class="left-nav">
        <div class="logo">
            <img src="theme/default/images/logo.png" title="Easted logo">
        </div>
        <ul class="nav">
            <li>
                <a href="dashboard.html">
                    <div class="lev0">

                        <span class="nav-icon"><img src="theme/default/images/home.png"></span>
                        <span class="nav-text">首页</span>
                    </div>
                </a>
            </li>
            <li>
                <div class="lev0">
                    <span class="nav-icon"><img src="theme/default/images/Calculation.png"></span>
                    <span class="nav-text">计算</span>
                </div>
                <ul >
                    <a href="host.html"><li >云主机</li></a>
                    <a href="disk.html"><li>云硬盘</li></a>
                    <a href="snapshot.html"><li>快照</li></a>
                    <a href="backup.html"><li>备份</li></a>
                    <li>镜像</li>
                    <li>宿主机</li>
                    <li>安全组</li>
                </ul>
            </li>
            <li>
                <div class="lev0 selected">
                    <span class="nav-icon"><img src="theme/default/images/Inter.png"></span>
                    <span class="nav-text">网络</span>
                </div>
                <ul style="display: block">
                    <a href="netvlan.html"><li >VLAN</li></a>
                    <a href="nettopo.html"><li >拓扑</li></a>
                    <a href="netroute.html"><li class="selected current">路由</li></a>
                </ul>
            </li>
            <li>
                <div class="lev0">
                    <span class="nav-icon"><img src="theme/default/images/save.png"></span>
                    <span class="nav-text">存储</span>
                </div>
            </li>
            <li>
                <div class="lev0">
                    <span class="nav-icon"><img src="theme/default/images/app.png"></span>
                    <span class="nav-text">应用</span>
                </div>
            </li>
            <li>
                <div class="lev0">
                    <span class="nav-icon"><img src="theme/default/images/alarm.png"></span>
                    <span class="nav-text">告警</span>
                </div>
            </li>
            <li>
                <div class="lev0">
                    <span class="nav-icon"><img src="theme/default/images/log.png"></span>
                    <span class="nav-text">日志</span>
                </div>
            </li>
            <li>
                <div class="lev0">
                    <span class="nav-icon"><img src="theme/default/images/order.png"></span>
                    <span class="nav-text">工单</span>
                </div>
            </li>
            <li>
                <div class="lev0">
                    <span class="nav-icon"><img src="theme/default/images/data.png"></span>
                    <span class="nav-text">报表</span>
                </div>
            </li>
            <li>
                <div class="lev0">
                    <span class="nav-icon"><img src="theme/default/images/setting.png"></span>
                    <span class="nav-text">配置</span>
                </div>
                <ul>
                    <a href="user.html"><li>用户</li></a>
                    <a href="tenant.html"><li>租户</li></a>
                </ul>
            </li>
        </ul>
    </div>
    <div class="right-content">
        <div class="right-header">
            <span class="ecloud"><img src="theme/default/images/ecloud.png"></span>
                <span class="right-info">
                    <span class="right-info-role">系统管理员：</span>
                    <span class="right-info-name">王辉</span>
                    <span class="right-info-vline">
                        <span></span>
                    </span>
                    <span class="exit" title="退出"><img src="theme/default/images/zx.png"></span>
                </span>
        </div>
        <div class="current-pos">
            <ul class="bread">
                <li>首页</li>
                <li>虚拟机</li>
                <li class="end">001</li>
            </ul>
        </div>
        <div class="right-entity">
            <ul class="icon-menus">
                <li>
                    <img src="theme/default/images/add.png" title="增加" >
                </li>
                <li>
                    <img src="theme/default/images/delete.png" title="删除">
                </li>

            </ul>

            <div class="search-item">
                <p class="input-text">
                    <span class="combox-to-input">
                        <select  class="easyui-combobox" data-options="
                        prompt:'名称/用户/状态',
                        iconCls:'icon-search',
                        iconAlign:'left',
                        url: 'data/mash.json',
                        method: 'get',
                        valueField:'value',
                        textField:'label',
                        " style="width:197px;padding-left:10px;height:30px">

                        </select></span><span>
                    </span>
                    <span>
                         <select class="easyui-combobox" name="user" data-options="
                prompt:'请选择租户',
                url: 'data/cuser.json',
                method: 'get',
                valueField:'value',
                textField:'label',
            "
                                 style="width:197px;height:30px;padding-left:10px">

                         </select>
                    </span>
                    <span>
                         <select class="easyui-combobox" name="state"
                                 data-options="
                prompt:'请选择状态',
                url: 'data/status.json',
                method: 'get',
                valueField:'value',
                textField:'label',
            "
                                 style="width:197px;height:30px;padding-left:10px" >

                         </select>
                    </span>
                </p>
            </div>
            <div style="padding:5px;display: block" class="plain-datagrid">
                <table class="easyui-datagrid" title="代办工单" style="width:100%;height:300px" align="center"
                       data-options="singleSelect:true,collapsible:true,width:'100%',fitColumns:'true'">
                    <thead>
                    <tr>
                        <th data-options="field:'id',width:300">起始VLAN</th>
                        <th data-options="field:'type',width:300">目的VLAN</th>
                        <th data-options="field:'user',width:300">下一跳IP</th>
                        <th data-options="field:'minus',width:50"></th>
                    </tr>
                    </thead>
                    <tr>
                        <td>
                            <select   data-options="
                        prompt:'请选择'
                        " style="width:197px;padding-left:10px;height:30px">
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </td>
                        <td>
                            <select   data-options="
                        prompt:'请选择'
                        " style="width:197px;padding-left:10px;height:30px">
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </td>
                        <td>
                            <select   data-options="
                        prompt:'请选择'
                        " style="width:197px;padding-left:10px;height:30px">
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select   data-options="
                        prompt:'请选择'
                        " style="width:197px;padding-left:10px;height:30px">
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </td>
                        <td>
                            <select   data-options="
                        prompt:'请选择'
                        " style="width:197px;padding-left:10px;height:30px">
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </td>
                        <td>
                            <select   data-options="
                        prompt:'请选择'
                        " style="width:197px;padding-left:10px;height:30px">
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>