<!--<div class="icon-menus-box">-->
<!--<div class="icon-menus-bg"></div>-->
<!--<div class="vlan-icon-box icon-menus-cont"></div>-->
<!--</div>-->
<div class="vlansec right-content-padding">
    <div class="right-cont">
        <div class="search-item  padding_15">
                            <span class="combox-to-input ef-textbox" >
                                <input id="vlan-input" style="width:197px;height:30px">
                               </span><span>
                            </span>
                            <span class="ef-combox">
                                 <select id="vlan-state" name="user" style="width:197px;height:30px;padding-left:10px">

                                 </select>
                            </span>
                <span class="ef-combox">
                                 <select id="vlan-combo" name="user" style="width:197px;height:30px;padding-left:10px">

                                 </select>
                            </span>
            <span class="icon-refresh-span"><i class="icon-refresh" id="reset"></i></span>
        </div>

        <div style="border:1px solid #d7d7d7;" class="plain-datagrid box_shadow">
            <table id="vlangrid"
                   style="width:100%;height: 100%;" data-options="
                        singleSelect:true,
                        pagination:true,
                        pageNumber:1,
                        pageSize:10">
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" href="theme/default/css/vlan.css" type="text/css">
