<!--<div class="icon-menus-box">-->
<!--<div class="icon-menus-bg"></div>-->
<!--<div class="vlandetail-icon-box icon-menus-cont"></div>-->
<!--</div>-->
<div class="block-lists block-lists-padding valn_cont">
    <div class="right-cont">
        <div class="block-lists ">
            <div class="block-list">
                <div class="block-list-content box_shadow" style="height: 140px;clear:both">
                    <div class="detail-page-nav">
                        <div class="block-list-label" id="description">

                        </div>
                    </div>

                    <div class="right descriptBtns righticons">

                    </div>
                    <div class="vlan-detail-descript">
                        <div>
                            <label>名称：</label>
                               <span class="data_name_input">
                                   <input id="vlanDetailname" style="width:197px;padding-left:10px;height: 30px;">
                               </span>
                        </div>
                        <div>
                            <label>网络类型：</label>
                            <span class="data_vlan_type"></span>
                        </div>
                        <div>
                            <label>VLAN ID：</label>
                            <span class="data_vlan_id"></span>
                        </div>
                        <div>
                            <label>物理网络：</label>
                            <span class="data_phy_network"></span>
                        </div>
                        <div>
                            <label>状态：</label>
                            <span class="data_status" style="display:inline-block;"></span>
                        </div>
                    </div>
                </div>
                <div class="block-list-right">
                    <div class="block-list-content box_shadow">
                        <div class="detail-page-nav">
                            <div class="block-list-label">子网</div>
                        </div>

                        <div class="right subnetBtns righticons">

                        </div>
                        <div class="plain-datagrid"> 
                            <table id="vlanDetailSubnet" style="height: 428px;"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-list">
                <div class="block-list-content box_shadow">
                    <div class="detail-page-nav">
                        <div class="block-list-label" id="hostlist">
                    </div>


                    </div>
                    <div class="right hostBtns righticons">
                    </div>
                    <div class="plain-datagrid"> 
                        <div style="margin-top: -38px;margin-bottom: -19px;" class="plain-datagrid-margin">
                            <table id="vlandetailhost_grid" style="height: 428px;" >  </table> 
                        </div>
                        <div id="vlandialog"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="theme/default/css/host.css" type="text/css">
<link rel="stylesheet" href="theme/default/css/vlan.css" type="text/css">
