<div class="right-cont padding_top25">
    <div class="search-item">
                <span class="input-text" >
                    <span id="log_all_user_sys">
                        <input id="log_all_user_sys_sel"style="padding-left: 10px;height: 30px;" />
                    </span>
                    <span class="icon-refresh-span"><i class="icon-refresh" id="reset"></i></span>
                </span>
    </div>
    <div style="padding:5px" class="plain-datagrid">
        <table id="order_wait_list" style="width:100%;height: 428px" ></table>
    </div>
</div>
<link rel="stylesheet" href="theme/default/css/global.css" type="text/css">

