<style>
    .plain-datagrid{
        border: none !important;
    }
</style>
<!--<div class="icon-menus-box">-->
    <!--<div class="icon-menus-bg"></div>-->
    <!--<div class="readydetail-icon-box"></div>-->
<!--</div>-->
<div class="block-lists padding_top50">
    <div class="right-cont">
        <div class="block-lists">
            <div class="block-list">
                <div class="block-list-content" style=";padding-bottom:20px">
                    <div class="block-list-label" id="description">
                    </div>
                    <div class="icons-orderdetail" style="float: right;"></div>
                    <div class="ready-detail-descript">
                        <div class="float-table orderdescription auto-height no-border border-fisrt">
                            <table class="plain-table">
                                <tr field-name="type">
                                    <td><label ></label></td>
                                    <td><span></span></td>
                                </tr>
                              <!--  <tr field-name="security">
                                    <td><label ></label></td>
                                    <td><span></span></td>
                                </tr>-->
                                <tr field-name="region">
                                    <td><label></label></td>
                                    <td><span></span></td>
                                </tr>
                                <tr field-name="os">
                                    <td><label></label></td>
                                    <td><span></span></td>
                                </tr>
                                <tr field-name="image">
                                    <td><label></label></td>
                                    <td><span></span></td>
                                </tr>
                                <tr field-name="status">
                                    <td><label ></label></td>
                                    <td><span>  <input id="email" type="text" class="input-oth"/></span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="float-table orderdescription auto-height no-border double-border">
                            <table class="plain-table">
                                <tr field-name="tenant">
                                    <td><label ></label></td>
                                    <td><span class="select-oth">
                                </span></td>
                                <tr field-name="user">
                                    <td><label ></label></td>
                                    <td><span class="select-oth">
                                </span></td>
                                </tr>
                                <tr field-name="project">
                                    <td><label></label></td>
                                    <td><span class="select-oth">
                                 </span></td>
                                </tr>
                                <tr field-name="operator">
                                    <td><label ></label></td>
                                    <td><span class="select-oth">
                                 </span></td>
                                </tr>
                                <!--<tr field-name="auditor">
                                    <td><label ></label></td>
                                    <td><span class="select-oth">
                                 </span></td>
                                </tr>-->
                            </table>
                        </div>
                        <div class="float-table no-right-border orderdescription auto-height no-border">
                            <table class="plain-table">

                                <tr field-name="vlan">
                                    <td><label ></label></td>
                                    <td><span class="select-oth">
                                 </span></td>
                                </tr>
                                <tr field-name="ip">
                                    <td><label ></label></td>
                                    <td><span class="select-oth">
                                 </span></td>
                                </tr>
                                <tr field-name="host">
                                    <td><label ></label></td>
                                    <td><span class="select-oth">
                                 </span></td>
                                </tr>
                                <tr field-name="mount">
                                    <td><label ></label></td>
                                    <td><span class="select-oth">
                                 </span></td>
                                </tr>
                                <tr field-name="des">
                                    <td><label ></label></td>
                                    <td><span class="select-oth">
                                 </span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="block-list">
                    <div class="block-list-content">
                        <div class="block-list-label" id="sourceList">

                        </div>
                        <div class="plain-datagrid">
                            <table id="orderReadySource">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
