<div class="pass_reset_box" >
    <div style="height: 160px;margin-left: 40px;">
        <div style="margin-top: 30px;">
            <input type="radio" id="random" name="pwd"><span id="randomPwd" style="margin-left: 10px"></span>
        </div>
        <div style="margin-top: 30px;">
            <input type="radio" id="enter" name="pwd"><span style="margin-left: 10px;"><input
                style="height: 30px;width: 150px;"  id="enterArea"></span>
            <span style="margin-left: 30px;"><input style="height: 30px;width: 150px;"
                                                    id="passSure"></span>
        </div>
    </div>
</div>
<div class="panel-bottom">
    <ul class="button-step button-step-bottom">
        <li><span class="btn templateConfirmBtn"><a id="cancel">取消</a></span></li>
        <li id="adddiskokall"><span class="btn templateConfirmBtn hl_ok_span"><a id="ok"></a></span></li>
    </ul>
</div>

   <!-- <div class="button-route button-router-bottom">
        <ul class="button-step">
            <li><span class="btn diskConfirmBtn"><a id="cancel"></a></span></li>
            <li id="adddiskokall"><span class="btn diskConfirmBtn"><a id="ok"></a></span></li>
        </ul>
    </div>-->
<style>
    .button-step-bottom{
        position: absolute;
        right: 33%;
        bottom: 10px;
    }
    /*.button-step-bottom span.btn{*/
        /*height: 30px;*/
        /*line-height: 30px;*/
    /*}*/
    /*.button-step-bottom span.btn,*/
    /*.button-step-bottom span.btn a:hover{*/
        /*border-radius: 10px 10px 0 0;*/
        /*line-height: 35px;*/
    /*}*/
    /*.button-step span.btn,.button-step span.btn a:hover{*/
        /*border-radius:10px 10px 0 0;*/
    /*}*/
</style>
