<div class="login-content-box modify-pass" style="margin-left:auto;margin-right:auto;margin-top:100px;">
    <div class="login-form-box">
        <ul class="login-form-ul">
            <li>
                <input  id="username" class="easyui-textbox login-input" data-options="prompt:'请输入用户名',iconAlign:'right',required:true
                            ,missingMessage:'用户名必填',validType:
		'minlength[3]',maxlength:20" style="width:300px;height:36px;" >
            </li>
            <li>
                <input  id="password" class="easyui-textbox login-input" type="password" data-options="prompt:'请输入密码',iconAlign:'right',
                            required:true,
                            missingMessage:'密码必填',validType:
		'minlength[8]',maxlength:20" style="width:300px;height:36px">
            </li>
            <li>
                            <span class="left">
                                <a class="login-submit-btn modify-submit-btn" >确认修改</a>
                            </span>
                            <span class="right">
                                <a class="reset-submit-btn" style="text-decoration: underline;cursor: pointer">重置密码</a>
                            </span>
            </li>
        </ul>

    </div>
</div>
<link href="theme/default/css/global.css" rel="stylesheet"  type="text/css">
<link rel="stylesheet" type="text/css" href="js/libs/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="js/libs/easyui/themes/icon.css">
<link href="theme/default/css/components.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="theme/default/css/layout.css" type="text/css">
<link rel="stylesheet" type="text/css" href="theme/default/css/login.css">
<style>
    div.modify-pass
    {
        border:1px solid gray;
    }
</style>