<!--action bar-->
<div class="icon-menus-box backup-menus">
    <div class="icon-menus-bg"></div>
    <div class="recycle-icon-box icon-menus-cont"></div>
</div><!--action bar-->
<div id="cal-recycle-wrapper" class="easyui-tabs padding_top40" style="width: 100%">
    <div id="cal-recycle-vm" title="云主机">
        <!--add tab1 contents11-->云主机
    </div>
    <div id="cal-recycle-disk" title="云硬盘">
        <!--add tab2 contents-->云硬盘
    </div>
</div>
<link rel="stylesheet" type="text/css" href="theme/default/css/recycle.css">