<!--action bar-->
<div class="icon-menus-box">
    <div class="icon-menus-bg"></div>
    <div class="recycle-icon-box icon-menus-cont" id="recycle-box"></div>
</div><!--action bar-->
<div class="right-cont padding_top30">
    <div class="search-item" id="search">
        <span class="ef-textbox">
            <input id="recy-search" type="text" clas="easyui-textbox" />
        </span>
        <!--<span class="ef-combox">11
             <input type="text" class="easyui-combobox"
                    data-options="
                        valueField:'id',
                        textField:'text',
                        prompt:'请选择项目',
                        data:[{
                            id:'1',
                            text:'text1'
                        },{
                            id:'2',
                            text:'text2'
                        },{
                            id:'3',
                            text:'请选择项目3'
                        }]
                    " />
        </span>
        <span class="ef-combox">
             <input type="text" class="easyui-combobox"
                    data-options="
                        valueField:'id',
                        textField:'text',
                        prompt:'请选择状态',
                        data:[{
                            id:'1',
                            text:'text1'
                        },{
                            id:'2',
                            text:'text2'
                        },{
                            id:'3',
                            text:'请选择项目3'
                        }]
                    "/>
        </span>-->
    </div>

    <!--datagrid data-->
    <div style="padding:5px;display: block;" class="plain-datagrid">
        <table id="recylce_datas" style="width:100%;height: 446px"></table>
    </div><!--datagrid data-->
</div>
