<div id="services_tabs" style="width:100%;/*height:580px;*/" >
    <div id="cal_serv" title="计算服务" style="overflow-x:hidden;">
        <div class="right-content-padding">
            <div class="right-cont ">
                <div class="search-item padding_15">
                <span class="input-text">
                    <span class="combox-to-input ef-textbox">

                        <select  id="cal_service" style="width:197px;height:30px"></select>
                    </span>
                </span>
                <span class="ef-combox">
                    <input id="cal_status" class="easyui-combobox" name="state" style="width:197px;height:30px !important;padding-left:10px" />
                </span>
                    <span class="icon-refresh-span"><i class="icon-refresh" id="cal_reset" ></i></span>
                </div>
                <div style="padding-bottom:5px;">
                    <div  class="plain-datagrid box_shadow">
                        <table id="cal_serv_table" style="width:100%;height:100%;"> </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="save_serv" title="块存储服务" style="overflow-x:hidden;">
        <div class="right-content-padding">
            <div class="right-cont ">
                <div class="search-item padding_15">
                <span class="input-text">
                    <span class="combox-to-input ef-textbox">

                        <select  id="save_service" style="width:197px;height:30px"></select>
                    </span>
                </span>
                <span class="ef-combox">
                    <input id="save_status" class="easyui-combobox" name="state" style="width:197px;height:30px !important;padding-left:10px" />
                </span>
                    <span class="icon-refresh-span"><i class="icon-refresh" id="save_reset"></i></span>
                </div>
                <div style="padding-bottom:5px;">
                    <div  class="plain-datagrid box_shadow">
                        <table id="save_serv_table" style="width:100%;height:100%;"> </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="net_serv" title="网络服务" style="overflow-x:hidden;">
        <div class="right-content-padding">
            <div class="right-cont ">
                <div class="search-item padding_15">
                <span class="input-text">
                    <span class="combox-to-input ef-textbox">

                        <select  id="net_service" style="width:197px;height:30px"></select>
                    </span>
                </span>
                <span class="ef-combox">
                    <input id="net_status" class="easyui-combobox" name="state" style="width:197px;height:30px !important;padding-left:10px" />
                </span>
                    <span class="icon-refresh-span"><i class="icon-refresh" id="net_reset"></i></span>
                </div>
                <div style="padding-bottom:5px;">
                    <div  class="plain-datagrid box_shadow">
                        <table id="net_serv_table" style="width:100%;height:100%;"> </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sys_serv" title="系统服务" style="overflow-x:hidden;">
        <div class="right-content-padding">
            <div class="right-cont">
                <div class="search-item padding_15">
                <span class="input-text">
                    <span class="combox-to-input ef-textbox">

                        <select  id="sys_service" style="width:197px;height:30px"></select>
                    </span>
                </span>
                <span class="ef-combox">
                    <input id="sys_status" class="easyui-combobox" name="state" style="width:197px;height:30px !important;padding-left:10px" />
                </span>
                    <span class="icon-refresh-span"><i class="icon-refresh" id="sys_reset"></i></span>
                </div>
                <div style="padding-bottom:5px;">
                    <div  class="plain-datagrid box_shadow">
                        <table id="sys_serv_table" style="width:100%;height:100%;"> </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="cei" title="监控服务" style="overflow-x:hidden;">
        <div class="right-content-padding">
            <div class="right-cont">
                <div class="search-item padding_15">
                <span class="input-text">
                    <span class="combox-to-input ef-textbox">

                        <select  id="cei_service" style="width:197px;height:30px"></select>
                    </span>
                </span>
                <span class="ef-combox">
                    <input id="cei_status" class="easyui-combobox" name="state" style="width:197px;height:30px !important;padding-left:10px" />
                </span>
                    <span class="icon-refresh-span"><i class="icon-refresh" id="cei_reset" ></i></span>
                </div>
                <div style="padding-bottom:5px;">
                    <div  class="plain-datagrid box_shadow">
                        <table id="cei_serv_table" style="width:100%;height:100%;"> </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<link href="theme/default/css/service.css" rel="stylesheet" type="text/css">
