<div class="right-content-padding">
    <div class="right-cont padding_top25">
        <div class="block-list-content sysinfo box_shadow" style="margin:0;">
            <div class="detail-page-nav">
                <div class="block-list-label">版本</div>
            </div>

            <table class="plain-table" width="100%" style="margin:0;margin-left: 20px;">
                <tr>
                    <td>
                        <label class="label_customer">版本名称：</label>
                        <span class="_data_name"></span>
                    </td>
                    <td>
                        <label class="label_startdate">发布时间：</label>
                        <span class="_data_timestamp"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="label_version">版本号：</label>
                        <span class="_data_sn"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label>版权信息：</label>
                        <span class="_data_sysright"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="block-list-content sysinfo box_shadow" style="padding-bottom:20px;margin:0;margin-top:10px;">
            <div class="detail-page-nav">
                <div class="block-list-label">许可证</div>
            </div>

            <table class="plain-table" width="100%" style="margin:0;margin-left: 20px;">
                <tr>
                    <td>
                        <label id="label_serial.number">序列号：</label>
                        <span class="data_serial_number"></span>
                    </td>
                    <td>
                        <label class="label_nodes">节点数量：</label>
                        <span class="data_nodes"></span>
                    </td>
                    <td><label class="label_enddate">过期时间：</label>
                        <span class="data_enddate"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label_hostid">唯一标识：</label>
                        <span class="hostid"></span>
                    </td>
                    <td class="lic"><a href="#" class="data_lic" id="upload">更新许可证</a></td>
                </tr>

            </table>
        </div>
    </div>
</div>
<link href="theme/default/css/sysinfo.css" rel="stylesheet"  type="text/css">
