
<!--<div class="icon-menus-box">-->
<!--<div class="icon-menus-bg"></div>-->
<!--<div class="tenant-icon-box icon-menus-cont"></div>-->
<!--</div>-->
<div class="right-content-padding">
    <div class="right-cont " id="right-cont">
        <div class="search-item padding_15" >
            <!--   <p class="input-text" style="margin:0;padding:0">
                           <span class="combox-to-input">
                               <input id="username"  style="width:197px;padding-left:10px;height:30px">
                               </span><span>
                           </span>
               </p>-->
            <span class="input-text" style="padding:0;margin:0">
                    <span class="combox-to-input ef-textbox">
                        <input id="username" style="width:197px;height:30px">
                    </span>
            </span>
            <span class="icon-refresh-span"><i class="icon-refresh" id="reset"></i></span>
        </div>
        <div class="block-lists">
            <div  class="plain-datagrid box_shadow tablebox">
                <table id="tenantlist"
                       style="width:100%;height: 100%;">
                </table>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="theme/default/css/layout.css" type="text/css">
<link rel="stylesheet" href="theme/default/css/tenant.css" type="text/css">


