<div class="right-content-padding">
    <div class="right-cont" >
        <div class="search-item padding_15" >
            <p class="input-text" style="padding:0;margin:0">
                    <span class="combox-to-input ef-textbox">
                        <select id="username" style="width:197px;height:30px">
                        </select></span><span>
                    </span>
            </p>

            <span class="icon-refresh-span"><i class="icon-refresh" id="reset"></i></span>
        </div>
        <div  class="plain-datagrid box_shadow">
            <table id="userlist" style="width:100%;height: 100%;"> </table>
        </div>
    </div>
</div>



