<!--<div class="icon-menus-box">-->
<!--<div class="icon-menus-bg"></div>-->
<!--<div class="userdetail-icon-box icon-menus-cont"></div>-->
<!--</div>-->
<div class="block-lists block-lists-padding ">
    <div class="right-cont">
        <div class="block-lists">
            <div class="block-list">
                <div class="block-list-content box_shadow" style="height: 160px;padding-bottom:20px">
                    <div class="detail-page-nav">
                        <div class="block-list-label" id="description">
                        </div>
                    </div>
                    <div class="icons-userdetail righticons" style="float: right;position: relative;top: -21px;left: -5px;"></div>
                    <div class="host-detail-descript">
                        <div class="float-table userdescription">
                            <table class="plain-table">
                                <tr>
                                    <td><label id="idfield"></label></td>
                                    <td><span id="uid"></span></td>
                                </tr>
                                <tr>
                                    <td><label id="namefield"></label></td>
                                    <td class="data_name"><span> <input id="name" type="text" class="input-oth" style="height: 30px"/></span></td>
                                </tr>

                            </table>
                        </div>
                        <div class="float-table userdescription" >
                            <table class="plain-table" >
                                <tr>
                                    <td><label id="emailfield"></label></td>

                                    <td class="data_email"><span>  <input id="email" type="text" class="input-oth" style="height: 30px;width: 200px"/></span></td>
                                </tr>
                                <!-- <tr>
                                     <td><label id="secretsfield"></label></td>
                                     <td><span class="select-oth">
                                      <span class="secInclude"><input id="secrets"/></span>
                                  </span></td>
                                 </tr>-->
                                <tr>
                                    <td><label id="projectfield"></label></td>
                                    <td class="data_project" id="project" style="height:90px;overflow:auto;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="float-table no-right-border userdescription">
                            <table class="plain-table">
                                <tr>
                                    <td><label id="phonefield"></label></td>
                                    <td class="data_phone"><span>  <input id="phone" type="text" class="input-oth" style="height: 30px" /></span></td>
                                </tr>
                                <tr>
                                    <td><label id="rolefield"></label></td>
                                    <td><span class="select-oth">
                                    <span class="roleInclude"><input id="role" style="disabled:true"/></span>
                                </span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="block-list">
                    <div class="block-list-content box_shadow">
                        <div class="detail-page-nav">
                            <div class="block-list-label" id="host">
                            </div>
                        </div>
                        <div class="plain-datagrid">
                            <table id="user-host" style="height: 446px;" >
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="theme/default/css/user.css" type="text/css"/>
