<div class="right-content-padding">
    <div class="right-cont">
        <div class="search-item padding_15" >
                         <span class="input-text">
                        <span class="combox-to-input ef-textbox">
                             <input id="optionSel" class="resUser" name="user"
                                    style="width:197px;height:30px;padding-left:10px">
                        </span></span>
                        <span class="ef-combox">
                             <select id="typeSel" class="resCom" name="state"
                                     style="width:197px;height:30px;padding-left:10px">
                             </select>
                        </span>
                        <span class="ef-combox">
                             <select id="levelSel" class="resCom" name="state"
                                     style="width:197px;height:30px;padding-left:10px">
                             </select>
                        </span>
            <span class="icon-refresh-span"><i class="icon-refresh" id="reset"></i></span>
            <!--</p>-->
        </div>
        <div class="block-list">
            <div  class="plain-datagrid">
                <table class="easyui-datagrid" style="width:100%;height: 100%;;" align="center" id="alarmList"
                       data-options="singleSelect:false,width:'100%',fitColumns:'true'">
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .warn-icon
    {
        width: 21px;
        height: 22px;
    }
    .warn-icon-fault
    {
        background-position: -860px -357px;
    }
    .warn-icon-warn
    {
        background-position: -861px -390px;
    }
    .warn-icon-attention
    {
        background-position: -861px -425px;
    }
    .datagrid-btable td:not(:nth-child(6)) .datagrid-cell{
        height:17px !important;
    }
</style>
